/* Importing fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@800&display=swap");

body {
  background: linear-gradient(90deg, #1c8d73 20%, #207398, #50dbb4);
  font-family: "Montserrat", "Open Sans", "verdana";
  color: #242b2e;
}

h1 {
  font-size: 40px;
  text-align: center;
  /* all the four margins */
  margin: 4%;
  font-family: "Open Sans", "Verdana";
  font-weight: 800;
}

p {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
}

span {
  font-size: 130%;
}

.iNeuron {
  text-decoration: underline;
}

button {
  /* auto value will center align the button */
  margin: auto;
  display: block;
}

.btn {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  /* 10px -> top and bottom // 20px -> left and right */
  padding: 10px 20px;
  background-color: transparent;
  color: #1f1f1f;
  border: 2.5px solid #1f1f1f;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  color: #e2caca;
  font-size: 24px;
  box-shadow: 0 0 30px 25px #1f1f1f inset;
}

.lco {
  /* transition: transition-property, transition-duration, transition-timing-function, transition-delay */
  transition: color 400ms ease-in-out, font-size 400ms ease-in-out, box-shadow 400ms ease-in-out;
}

div {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #1f1f1f;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
